*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.header{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(198, 195, 195);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.navigation{
    margin-left: -13px;
    margin-top: 13px;
}
.navs{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
}

.navigation ul li{
    list-style-type: none;
}
.navs li a{
    margin: 1px 8px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 5px 3px;
}
.icons{
    display: flex;
    margin-top: 8px;
}
.icons i{
    margin: 0 12px;
}

.section{
    background-color: black;
    margin-top: 50px;
    width: 100%;
}
.section .link1{
    margin-top: 20px;
    text-align: center;
}
.section .link1 a{
    text-decoration: none;
    font-size: 55px;
    color: white;
    font-weight: bold;
    font-family:"Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.section .link2{
    margin-top: 0px;
    text-align: center;
}
.section .link2 a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family:"Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.section .link3{
    text-align: center;
}
.section .link3 a{
    margin-right: 26px;
    font-size: 22px;
    text-decoration: none;
}
.section .link3 a:hover{
    border-bottom: 2px solid blue;
    color: rgb(84, 84, 241);
}
.section .link3 a:hover i{
    border-bottom: 2px solid black;
}
.section .images{
    text-align: center;
}
.section .images img{
    width: 55%;
    min-height: 200px;
}

/*section1*/
.section1{
    background-color: white;
}
.section1 .images{
    text-align: center;
}
.section1 .images img{
    width: 55%;
    min-height: 200px;
}
.section1{
    margin-top: 10px;
}
.section1 .link1,.link2,.link3 {
    text-align: center;
} 
.section1 .link1 a{
    color: black;
    font-size: 50px;
    text-decoration: none;
}

.section1 .link2 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family:"Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.section1 .link3 a{
    font-size: 22px;
    text-decoration: none;
    margin-right: 20px;
}
.section1 .link3 a:hover{
    border-bottom: 2px solid blue;
    color: rgb(84, 84, 241);
}
.section1 .link3 a:hover i{
    border-bottom: 2px solid white;
}


/* section2*/
.section2{
    margin-top: 10px;
}
.section2 .link1,.link2,.link3 {
    text-align: center;

} 
.section2 .link1{
    margin-top: -660px;
}
.section2 .link3{
    margin-top: 250px;
}
.section2 .link1 a{
    color: white;
    font-size: 50px;
    text-decoration: none;
}
.section2 .link2{
    margin-top: 10px;
}
.section2 .link2 a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family:"Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.section2 .link3 a{
    z-index: 1000;
    color: white;
}

.section2 .link3 a:hover{
color:white;
border-bottom: 2px solid white;
}
.section2 .link3 a:hover i{
    border-bottom: 2px solid rgb(22, 22, 22);
}

.section2 .link3 a{
    font-size: 22px;
    text-decoration: none;
    margin-right: 20px;
}
.section2 .link3 a:hover{
    border-bottom: 2px solid white;
    color: white;
}
.section2 .link3 a:hover i{
    border-bottom: 2px solid white;
}
/* videos*/
.section2 .vid{
    margin-top:2px; 
    width: 100%;
}
.section2 .vid a video{
    width: 100%;
    min-height: 900px;
}








/* main section */
.main_section{
    background-color: white;
    display: grid;
    width: 100%;
    grid-template-columns: 49% 49%;
    column-gap: 10px;
}
/* first image */
.main_section .imag{
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;

}
.main_section .imag img{
    width: 100%;
    height: 549px;
}













